// Size Device

$phone_size: 576px;
$tablet_size: 768px;
$notebook_size: 992px;
$desktop_size: 1200px;

//Icon Device

$phone_ico: "\f10b";
$tablet_ico: "\f10a";
$notebook_ico: "\f109";
$desktop_ico: "\f108";